<main>
  <div class="detail-page">
    <div class="name-header">
      <h1><%= @recipe.name %></h1>
    </div>
    <div class="detail-and-toogle">
      <div class="recipe-details">
        <p class="times"><strong>Preparation time:</strong> <%= @recipe.preparation_time %> minutes</p>
        <p class="times"><strong>Cooking time:</strong> <%= @recipe.cooking_time %> minutes</p>
        <div class="recipe-description">
          <p class="description"><%= @recipe.description %></p>
        </div>
        </div>
        <div class="toogle-button">
          <% if current_user == @recipe.user %>
           <p> <strong>Public:</strong></p>
            <%= button_to toggle_public_recipe_path(@recipe), method: :patch, class: "btnToggle" do %>
              <%= @recipe.public ? 'Yes' : 'No' %>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="underline"></div>
    <% if @recipe.user == current_user %>
    <div class="add-ingredient">
        <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: 'button' %>
        <%= link_to 'Generate shopping lists', shopping_lists_path, class: 'button'%>
    </div>
    <%end%>
     <% if @recipe.user == current_user || @recipe.public%>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
          </tr>
      </thead>
      <tbody>
       <% @recipe_foods.each do |r|%>
        <tr>
          <td><%= r.food.name%></td>
          <td><%= r.quantity %> <%=r.food.measurement_unit%></td>
          <td>
            <%= r.quantity * r.food.price.to_i %> $
            </td>
          <td class="actions">
            <%= button_to 'Remove', recipe_recipe_food_path(@recipe, r), method: :delete , class: "recipe-remove"%>
            <%= link_to 'Edit', edit_recipe_recipe_food_path(@recipe, r), class: 'button'%>
            </td>
        </tr>
        <%end%>
      </tbody>
    </table>
    <%end%>
  </div>
</main>
