<h2>List of foods</h2>
<div class="add-btn">
  <%= link_to 'Add Food', new_food_path, class: 'button' %>
</div>
  <table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr class='row-food'>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <% if food.user == current_user%>
        <td><%= button_to 'Delete', food_path(food), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
