<%= form_for [@recipe, @recipe_food], data: { turbo: false } do |f| %>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :food_id %>
    <%= f.collection_select :food_id, Food.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.submit 'Add Recipe Food' %>
  </div>
<% end %>
